<html>
<head>
<title>Let them eat Pig Latin</title>
</head>
<body>
    <h1>Original Quote</h1>
    <p style="text-indent :5em;" >{{ var['fact'] }}</p>
    <h1>Pig Latinzed</h1>
    <p style="text-indent :5em;" >{{ var['piglatin'] }}</p>
</body>
</html>

