<html>
<head>
<title>Let them eat Pig Latin</title>
</head>
<body>
    <h1>Original Quote</h1>
    <p style="text-indent :5em;" >{{ var['fact'] }}</p>
    <h1>Pig Latinzed</h1>
    <p style="text-indent :5em;" >{{ var['piglatin'] }}</p>
    <h2>Source:</h2>
    <a href=http://unkno.com>http://unkno.com</a><br>
    <a href={{ var['link'] }}> {{ var['link'] }} </a>

</body>
</html>

